{{>License}}

#pragma once

{{#modelsUsed}}
#include "models/{{{.}}}.h"
{{/modelsUsed}}

#include <httplib.h>
{{#includeVariantHeader}}{{{includeVariantHeader}}}{{/includeVariantHeader}}
{{#includeOptionalHeader}}{{{includeOptionalHeader}}}{{/includeOptionalHeader}}
namespace {{apiNamespace}} {
class {{apiClassnameInPascalCase}} {
public:
    {{apiClassnameInPascalCase}}() = default;
    virtual ~{{apiClassnameInPascalCase}}() = default;
    void registerRoutes(httplib::Server& svr);
    
    // Utility methods to get server information
    static std::string getServerUrl(const std::string& host = "localhost", int port = 8080);
    static int getPort(const httplib::Server& svr);
{{#operations}}
{{#operation}}
{{#vendorExtensions}}
{{#hasAnyRequestSchema}}
{{#-first}}
    // =========================
    // ===== Request types =====
    // =========================
{{/-first}}

    /**
    * @brief Request type for {{handlerFunctionName}}.
    */
    struct {{requestType}}
    {
        {{#requestModel}}std::optional<{{requestModelNamespace}}::{{requestModel}}> m_request;{{/requestModel}}{{^requestModel}}// No Schema Types defined{{/requestModel}}
        {{#pathParams}}{{{dataType}}} m_{{paramName}};{{/pathParams}}{{^pathParams}}// Path Params not available{{/pathParams}}
        {{#queryParams}}{{{dataType}}} m_{{paramName}};{{/queryParams}}{{^queryParams}}// Query Params not available{{/queryParams}}
        {{#headerParams}}{{{dataType}}} m_{{paramName}};{{/headerParams}}{{^headerParams}}// Header Params not available{{/headerParams}}
    };

{{/hasAnyRequestSchema}}
{{/vendorExtensions}}
{{/operation}}
{{/operations}}

{{#operations}}
{{#operation}}
{{#vendorExtensions}}
{{#hasAnyResponseSchema}}
{{#-first}}
    // ==========================
    // ===== Response types =====
    // ==========================
{{/-first}}
    /**
    * @brief Response type for {{handlerFunctionName}}.
    */
    using {{responseType}} = std::variant<{{#successType}}
                                 {{successType}}{{#errorTypes}},{{/errorTypes}}{{/successType}}{{^successType}}{{#errorTypes}}
                                 {{{.}}}{{^-last}},{{/-last}}{{/errorTypes}}{{/successType}}{{#errorTypes}}{{#successType}}
                                 {{{.}}}{{^-last}},{{/-last}}{{/successType}}{{/errorTypes}}>;

{{/hasAnyResponseSchema}}
{{/vendorExtensions}}
{{/operation}}
{{/operations}}
    // ============================================================
    // ===== Pure virtual functions to be handled by the user =====
    // ============================================================
{{#operations}}
{{#operation}}
{{#vendorExtensions}}
    /**
 {{#hasAnyRequestSchema}}
     * {{requestType}} - struct containing all the query parameters and headers and schemas as available.
 {{/hasAnyRequestSchema}}
 {{#hasAnyResponseSchema}}
     * @return {{responseType}} The response type returned by the handler.
 {{/hasAnyResponseSchema}}
     */
    virtual {{#hasAnyResponseSchema}}{{responseType}}{{/hasAnyResponseSchema}}{{^hasAnyResponseSchema}}void{{/hasAnyResponseSchema}} {{handlerFunctionName}}({{#hasAnyRequestSchema}}const {{requestType}}& params{{/hasAnyRequestSchema}})=0;

{{/vendorExtensions}}
{{/operation}}
{{/operations}}
private:
    // ========================================
    // ===== Helper function declarations =====
    // ========================================
{{#operations}}
{{#operation}}
{{#vendorExtensions}}
{{#hasAnyRequestSchema}}
    static {{requestType}} parse{{operationIdPascalCase}}Params(const httplib::Request& req);
{{/hasAnyRequestSchema}}
{{#hasAnyResponseSchema}}
    static void handle{{responseType}}(const {{responseType}}& result, httplib::Response& res);
{{/hasAnyResponseSchema}}
{{/vendorExtensions}}
{{/operation}}
{{/operations}}
};

} // namespace {{apiNamespace}}