{{>License}}

{{{apiHeaderFileName}}}

{{#statusCodeConsts}}
constexpr int {{constName}} = {{statusCode}};
{{/statusCodeConsts}}


namespace {{apiNamespace}} {
{{#operations}}
{{#operation}}
{{#vendorExtensions}}
{{#hasAnyRequestSchema}}
{{apiClassnameInPascalCase}}::{{requestType}} {{apiClassnameInPascalCase}}::parse{{operationIdPascalCase}}Params(const httplib::Request& req) {
    {{apiClassnameInPascalCase}}::{{requestType}} params;
    {{#requestModel}}
    nlohmann::json json = nlohmann::json::parse(req.body);
    params.m_request = {{requestModelNamespace}}::{{requestModel}}::fromJson(json);
    {{/requestModel}}
    {{#queryParams}}
        {{#vendorExtensions.isString}}
    params.m_{{paramName}} = req.get_param_value("{{baseName}}");
        {{/vendorExtensions.isString}}
        {{#vendorExtensions.isInt}}
    params.m_{{paramName}} = std::stoi(req.get_param_value("{{baseName}}"));
        {{/vendorExtensions.isInt}}
        {{#vendorExtensions.isLong}}
    params.m_{{paramName}} = std::stoll(req.get_param_value("{{baseName}}"));
        {{/vendorExtensions.isLong}}
        {{#vendorExtensions.isBool}}
    params.m_{{paramName}} = (req.get_param_value("{{baseName}}") == "true");
        {{/vendorExtensions.isBool}}
        {{#vendorExtensions.isDouble}}
    params.m_{{paramName}} = std::stod(req.get_param_value("{{baseName}}"));
        {{/vendorExtensions.isDouble}}
        {{#vendorExtensions.isArray}}
        size_t count = req.get_param_value_count("{{baseName}}");
        for (size_t i = 0; i < count; ++i)
        {
            auto val = req.get_param_value("{{baseName}}", i);
            params.m_{{paramName}}.emplace_back(val);
        }
        {{/vendorExtensions.isArray}}
    {{/queryParams}}
    {{#headerParams}}
    {{#vendorExtensions.isString}}
    params.m_{{paramName}} = req.get_header_value("{{baseName}}");
        {{/vendorExtensions.isString}}
        {{#vendorExtensions.isInt}}
    params.m_{{paramName}} = std::stoi(req.get_header_value("{{baseName}}"));
        {{/vendorExtensions.isInt}}
        {{#vendorExtensions.isLong}}
        params.m_{{paramName}} = std::stoll(req.get_header_value("{{baseName}}"));
        {{/vendorExtensions.isLong}}
        {{#vendorExtensions.isBool}}
    params.m_{{paramName}} = (req.get_header_value("{{baseName}}") == "true");
        {{/vendorExtensions.isBool}}
        {{#vendorExtensions.isDouble}}
    params.m_{{paramName}} = std::stod(req.get_header_value("{{baseName}}"));
    {{/vendorExtensions.isDouble}}
    {{#vendorExtensions.isArray}}
    size_t count = req.get_param_value_count("{{baseName}}");
    for (size_t i = 0; i < count; ++i)
    {
    auto val = req.get_param_value("{{baseName}}", i);
    params.m_{{paramName}}.emplace_back(val);
    }
{{/vendorExtensions.isArray}}
    {{/headerParams}}
    return params;
}
{{/hasAnyRequestSchema}}
{{#hasAnyResponseSchema}}
void {{apiClassnameInPascalCase}}::handle{{responseType}}(const {{responseType}}& result, httplib::Response& res) {
    std::visit([&](const auto& value) {
        using T = std::decay_t<decltype(value)>;
{{#successCodeToTypes}}{{#successType}}{{#-first}}        //Success types{{/-first}}
        if constexpr (std::is_same_v<T, {{successType}}>) {
            res.status = {{successConstName}};
            res.set_content(value.toJson(value).dump(), "application/json");
        }{{/successType}}{{/successCodeToTypes}}
{{#errorCodeToTypes}}{{#errorType}}{{#-first}}        //Error types{{/-first}}
        else if constexpr (std::is_same_v<T, {{errorType}}>) {
            res.status = {{errorConstName}};
            res.set_content(value.toJson(value).dump(), "application/json");
        }{{/errorType}}{{/errorCodeToTypes}}{{^errorCodeToTypes}}// No Error types defined{{/errorCodeToTypes}}
    }, result);
}
{{/hasAnyResponseSchema}}
{{/vendorExtensions}}
{{/operation}}
{{/operations}}

void {{apiClassnameInPascalCase}}::registerRoutes(httplib::Server& svr) {
    {{#operations}}
    {{#operation}}
    {{#vendorExtensions}}
    svr.{{httpMethod}}("{{path}}", [this]([[maybe_unused]]const httplib::Request& req, httplib::Response& res) {
        try {
            {{#hasAnyRequestSchema}}
            auto params = parse{{operationIdPascalCase}}Params(req);
            {{/hasAnyRequestSchema}}
            auto result = {{handlerFunctionName}}({{#hasAnyRequestSchema}}params{{/hasAnyRequestSchema}});
            {{#hasAnyResponseSchema}}
            handle{{responseType}}(result, res);
            {{/hasAnyResponseSchema}}
        } {{#requestModel}}catch (const nlohmann::json::parse_error& e) {
            nlohmann::json errorJson = { {"message", "Invalid JSON: " + std::string(e.what())} };
            res.set_content(errorJson.dump(), "application/json");
        }  catch (const nlohmann::json::invalid_iterator& e) {
            nlohmann::json errorJson = { {"message", "Invalid JSON: " + std::string(e.what())} };
            res.set_content(errorJson.dump(), "application/json");
        } catch (const nlohmann::json::type_error& e) {
            nlohmann::json errorJson = { {"message", "Invalid JSON: " + std::string(e.what())} };
            res.set_content(errorJson.dump(), "application/json");
        }  catch (const nlohmann::json::out_of_range& e) {
            nlohmann::json errorJson = { {"message", "Invalid JSON: " + std::string(e.what())} };
            res.set_content(errorJson.dump(), "application/json");
        } catch (const nlohmann::json::other_error& e) {
            nlohmann::json errorJson = { {"message", "Invalid JSON: " + std::string(e.what())} };
            res.set_content(errorJson.dump(), "application/json");
        }{{/requestModel}}{{#vendorExtensions.hasPrimitiveParams}} catch (const std::invalid_argument& e) {
            nlohmann::json errorJson = { {"message", "Internal error: " + std::string(e.what())} };
            res.set_content(errorJson.dump(), "application/json");
        } catch (const std::out_of_range& e) {
            nlohmann::json errorJson = { {"message", "Internal error: " + std::string(e.what())} };
            res.set_content(errorJson.dump(), "application/json");
        } {{/vendorExtensions.hasPrimitiveParams}}{{^requestModel}}{{^vendorExtensions.hasPrimitiveParams}}catch (const std::exception& e) {
            nlohmann::json errorJson = { {"message", "Internal error: " + std::string(e.what())} };
            res.set_content(errorJson.dump(), "application/json");
        }{{/vendorExtensions.hasPrimitiveParams}}{{/requestModel}}
    });
    {{/vendorExtensions}}
    {{/operation}}
    {{/operations}}
}

} // namespace {{apiNamespace}}