{{>License}}

#pragma once
{{#models}}
{{#model}}
#include <nlohmann/json.hpp>{{#vendorExtensions.filteredImports}}
{{{.}}}
{{/vendorExtensions.filteredImports}}

namespace {{vendorExtensions.modelNamespace}} {

class {{vendorExtensions.modelClassName}}
{
public:
    {{vendorExtensions.modelClassName}}();
    virtual ~{{vendorExtensions.modelClassName}}() = default;

    // JSON serialization
    static nlohmann::json toJson(const {{vendorExtensions.modelClassName}}& obj);
    static {{vendorExtensions.modelClassName}} fromJson(const nlohmann::json& json);

    // Getters and setters
    {{#vars}}
    [[nodiscard]] {{{datatypeWithEnum}}} {{getter}}() const;
    void {{setter}}(const {{{datatypeWithEnum}}}& {{nameInCamelCase}});
    {{/vars}}
    // nlohmann::json NLOHMANN_DEFINE_TYPE_INTRUSIVE macro for serialization and deserialization
    // In order to use this macro, member variables must match with the json values, else this MACRO will throw exceptions.
    // Hence the member variables are named exactly as in the json schema.
    NLOHMANN_DEFINE_TYPE_INTRUSIVE({{vendorExtensions.modelClassName}},{{#vars}} {{nameInCamelCase}}{{^-last}},{{/-last}}{{/vars}})
private:

    {{#vars}}
    {{{datatypeWithEnum}}} {{nameInCamelCase}};
    {{/vars}}
};

} // namespace {{vendorExtensions.modelNamespace}}
{{/model}}
{{/models}}