{{>License}}

#pragma once
{{#models}}
{{#model}}

#include <nlohmann/json.hpp>

{{#vendorExtensions.filteredImports}}
{{{.}}}
{{/vendorExtensions.filteredImports}}

{{#vars}}
{{#isPrimitiveType}}
{{#dataType}}
#include <{{#isNumeric}}cstdint{{/isNumeric}}{{#isString}}string{{/isString}}>
{{/dataType}}
{{/isPrimitiveType}}
{{/vars}}

namespace {{vendorExtensions.modelNamespace}} {

class {{vendorExtensions.modelClassName}}
{
public:
    {{#vars}}
    {{#isEnum}}
        // Enum declarations (property-scoped)
    enum class {{enumName}} {
                unknown{{#vendorExtensions.values}}
                , {{{.}}}{{/vendorExtensions.values}}
    };
    static inline {{vendorExtensions.enumName}} {{vendorExtensions.enumFromStringHelper}}(const std::string& value) {
        if (value.empty()) {
            return {{vendorExtensions.enumName}}::unknown;
        }
        {{#vendorExtensions.values}}
        if (value == "{{{.}}}") { return {{vendorExtensions.enumName}}::{{{.}}}; }
        {{/vendorExtensions.values}}
        return {{vendorExtensions.enumName}}::unknown;
    }
    static inline std::string {{vendorExtensions.enumToStringHelper}}(const {{vendorExtensions.enumName}}& e) {
        switch (e) {
            case {{vendorExtensions.enumName}}::unknown: return "unknown";{{#vendorExtensions.values}}
            case {{vendorExtensions.enumName}}::{{{.}}}: return "{{{.}}}";{{/vendorExtensions.values}}
            default: return "unknown";
        }
    }
    {{/isEnum}}
    {{/vars}}

    {{vendorExtensions.modelClassName}}();
    virtual ~{{vendorExtensions.modelClassName}}() = default;

    // JSON serialization
    static nlohmann::json toJson(const {{vendorExtensions.modelClassName}}& obj);
    static {{vendorExtensions.modelClassName}} fromJson(const nlohmann::json& json);

    // Getters and setters
    {{#vars}}
    {{#vendorExtensions.isEnum}}
    [[nodiscard]] {{vendorExtensions.enumName}} {{getter}}() const;
    void {{setter}}(const {{vendorExtensions.enumName}}& {{nameInCamelCase}});
    {{/vendorExtensions.isEnum}}
    {{^vendorExtensions.isEnum}}
    [[nodiscard]] {{{datatypeWithEnum}}} {{getter}}() const;
    void {{setter}}(const {{{datatypeWithEnum}}}& {{nameInCamelCase}});
    {{/vendorExtensions.isEnum}}
    {{/vars}}

private:
    {{#vars}}
    {{#isEnum}}
    {{varName}} m_{{nameInCamelCase}};
    {{/isEnum}}
    {{^isEnum}}
    {{{datatypeWithEnum}}} m_{{nameInCamelCase}};
    {{/isEnum}}
    {{/vars}}
};

} // namespace {{vendorExtensions.modelNamespace}}
{{/model}}
{{/models}}
