{{>License}}

{{#models}}
{{#model}}
#include "{{vendorExtensions.modelClassName}}.h"

namespace {{vendorExtensions.modelNamespace}} {

{{vendorExtensions.modelClassName}}::{{vendorExtensions.modelClassName}}()
{{#vars}}
{{#-first}}:{{/-first}}{{^-first}},{{/-first}} {{nameInCamelCase}}({{{defaultValue}}})
{{/vars}}
{
}
// =========================================
// ===== Serialization/Deserialization =====
// =========================================
nlohmann::json {{vendorExtensions.modelClassName}}::toJson(const {{vendorExtensions.modelClassName}}& obj)
{
    nlohmann::json json = obj;
    return json;
}

{{vendorExtensions.modelClassName}} {{vendorExtensions.modelClassName}}::fromJson(const nlohmann::json& json)
{
    {{vendorExtensions.modelClassName}} obj = json.get<{{vendorExtensions.modelClassName}}>();
    return obj;
}

{{#vars}}
{{#-first}}
// ===================
// ===== Getters =====
// ===================
{{/-first}}
{{{datatypeWithEnum}}} {{model.vendorExtensions.modelClassName}}::{{getter}}() const
{
    return {{nameInCamelCase}};
}
{{/vars}}

{{#vars}}
{{#-first}}
// ===================
// ===== Setters =====
// ===================
{{/-first}}
void {{model.vendorExtensions.modelClassName}}::{{setter}}(const {{{datatypeWithEnum}}}& {{nameInCamelCase}}Obj)
{
    {{nameInCamelCase}} = {{nameInCamelCase}}Obj;
}
{{/vars}}

} // namespace {{vendorExtensions.modelNamespace}}
{{/model}}
{{/models}}